/*
    Search
*/
.listq-search-v1{
    background: #252525;
    form{
        .km-filter{
            .km_filter{
                background: #898989;
                .ui-slider-handle{
                    background: $text-white;
                    &:before{
                        background: #000000;
                    }
                }
            }
        }
    }
}
/*
    Interested
*/
.interested{
    &.set-background{
        background: #f5f5f5;
    }
    li{
        margin-bottom: 30px;
    }
}
/*
    Count To Number
*/
.count-to-number{
    li{
        &:nth-child(odd){
            .box{
                background: #e6e6e6;
            }
        }
        &:nth-child(even){
            .box{
                background: #f0f0f0;
            }
        }
        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 42px 15px;
            position: relative;
            .flaticon{
                width: 220px;
                height: 220px;
                display: block;
                &:before{
                    position: relative;
                    top: 97px;
                    margin-left: 0;
                    font-size: 220px;
                    color: rgba($primary-color-home-v1, .1);
                }
            }
            .text{
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate-xy(-50%, -50%);
                p{
                    padding-bottom: 13px;
                    font-size: 20px;
                    color: $text-444;
                    text-transform: uppercase;
                    @include font-regular();
                }
                h3{
                    font-size: 48px;
                    line-height: 48px;
                    color: #f3838e;
                    @include font-bold();
                }
            }
        }
    }
}
/*
    Recent Place
*/
.recent-place-v1{
    .row{
        > *{
            margin-bottom: 50px;
        }
    }
    .box{
        .content{
            .listq-button{
                .button-home-one{
                    &:hover{
                        background: $primary-color-home-v1;
                        border: 1px solid $primary-color-home-v1;
                    }
                }
            }
            h3{
                &:hover{
                    color: $primary-color-home-v1;
                }
            }
            .rating{
                li{
                    color: $primary-color-home-v1;
                }
            }
        }
    }
}
/*
    How It Work
*/
.how-it-work-v1{
    background: url('../images/index/bg-how-it-work.jpg');
    @include background-parallax();
    li{
        &:nth-child(odd){
            .box{
                background: #d7d7d7;
            }
        }
        &:nth-child(even){
            .box{
                background: $text-white;
            }
        }
        .box{
            &:hover{
                .flaticon{
                    &:before{
                        color: $primary-color-home-v1;
                    }
                }
            }
            .flaticon{
                &:before{
                    color: $text-444;
                }
            }
            h3{
                color: $text-444;
            }
            p{
                color: $text-444;
            }
            a{
                color: $text-444;
                &:hover{
                    color: $primary-color-home-v1;
                }
            }
        }
    }
}
/*
    Blog
*/
.blog-v1{
    .row{
        > *{
            margin-bottom: 40px;
        }
    }
    .box{
        &:hover{
            .content{
                .day{
                    background: $primary-color-home-v1;
                }
            }
        }
        .content{
            a{
                h3{
                    &:hover{
                        color: $primary-color-home-v1;
                    }
                }
            }
            .categories{
                &:hover{
                    color: $primary-color-home-v1;
                }
            }
            .read-more{
                &:hover{
                    color: $primary-color-home-v1;
                }
            }
        }
    }
}