/*
    Pricing
*/
.pricing-v3{
    li{
        .box{
            .listq-button{
                .button{
                    border: 1px solid $text-white;
                    background: $text-white;
                    &:hover{
                        background: $primary-color-home-v1;
                        border: 1px solid $primary-color-home-v1;
                        color: $text-white;
                    }
                }
            }
        }
    }
}
