////[Table of contents]

////1. Color

////[End table of contents]

//// 1. Color codes ------------------------------------------------ */

//// #277cd7, #f1c30f, #00e2b6, #ff5555, #16b6d5, #f3838e

$primary-color-home-v1: #00ffc6;
$primary-color-home-v2: #f1c30f;
$primary-color-home-v3: #00e2b6;
$primary-color-home-v4: #ff5555;
$primary-color-home-v5: #16b6d5;
$primary-color-home-v6: #f3838e;

$text-white: #ffffff;
$text-222: #222222;
$text-333: #333333;
$text-444: #444444;
$text-888: #888888;